@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600&family=Crete+Round&family=Noto+Serif+KR:wght@400;700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

ol,
ul {
  list-style: none; }

a {
  text-decoration: none; }

#wrap {
  width: 100%;
  height: 100vh;
  position: relative;
  background: #fff;
  overflow: hidden; }
  #wrap .bg li {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0;
    transition: 1s;
    background: #101820; }
    #wrap .bg li::after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 30%;
      height: 100vh;
      background: #aa7f3d;
      opacity: 0;
      transition: 0.5s; }
    #wrap .bg li.on {
      opacity: 1; }
      #wrap .bg li.on::after {
        opacity: 1; }
    #wrap .bg li:nth-of-type(4) .bg_line {
      margin-left: 200px; }
    #wrap .bg li .bg_line {
      width: 30%;
      height: 100vh;
      position: absolute;
      top: 0;
      right: 0;
      padding-top: 70px; }
      #wrap .bg li .bg_line .st0 {
        fill: #aa7f3d;
        stroke: #eebe7b;
        stroke-width: 10px;
        animation-name: DrawLine, FadeStroke, FillIn;
        fill-opacity: 0;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        animation-delay: 1s, 3.5s, 3.5s;
        animation-duration: 3.5s, 1s, 1s;
        stroke-dasharray: 50000;
        stroke-dashoffset: 50000; }
    #wrap .bg li:nth-of-type(2) {
      background: #262223; }
      #wrap .bg li:nth-of-type(2)::after {
        display: none;
        background: #DDC6B6; }
    #wrap .bg li:nth-of-type(3) {
      background: #343148; }
      #wrap .bg li:nth-of-type(3)::after {
        display: none;
        background: #D7C49E; }
    #wrap .bg li:nth-of-type(4) {
      background: #02343F; }
      #wrap .bg li:nth-of-type(4)::after {
        background: #F0EDCC; }
  #wrap .swiper-wrapper {
    width: 100%;
    height: 100%; }
    #wrap .swiper-wrapper .swiper-slide {
      width: 60vw;
      height: 80vh;
      position: relative;
      top: 15vh;
      right: 12vw; }
      #wrap .swiper-wrapper .swiper-slide .inner {
        width: 100%;
        height: 100%;
        background: #fff;
        font: bold 30px/1 "Cinzel";
        color: #101820;
        backdrop-filter: blur(10px);
        opacity: 0.5;
        transition: opacity 1s; }
      #wrap .swiper-wrapper .swiper-slide.swiper-slide-active .inner {
        opacity: 1; }
    #wrap .swiper-wrapper .about .inner {
      display: flex;
      justify-content: space-between; }
      #wrap .swiper-wrapper .about .inner .intro {
        width: 20%;
        height: 100%;
        padding: 20px 0px 20px 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between; }
        #wrap .swiper-wrapper .about .inner .intro .txt {
          margin-bottom: 80px; }
          #wrap .swiper-wrapper .about .inner .intro .txt span {
            display: block;
            padding: 5px 0;
            font: 700 20px/1 'Noto Serif KR';
            margin-bottom: 20px; }
          #wrap .swiper-wrapper .about .inner .intro .txt p {
            padding: 5px 0;
            font: 400 12px/1.6 'Noto Serif KR'; }
        #wrap .swiper-wrapper .about .inner .intro .contents li {
          padding: 2px 0;
          font: 400 13px/1.2 'Noto Serif KR'; }
        #wrap .swiper-wrapper .about .inner .intro .github {
          display: inline-block;
          padding: 5px 2px;
          margin-bottom: 10px;
          font: 700 14px/1 'Cinzel';
          border-top: 2px solid #101820;
          border-bottom: 2px solid #101820;
          color: #101820; }
          #wrap .swiper-wrapper .about .inner .intro .github i {
            margin-right: 10px; }
      #wrap .swiper-wrapper .about .inner figure {
        width: 40%;
        height: 100%;
        padding: 20px 30px; }
        #wrap .swiper-wrapper .about .inner figure img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          filter: grayscale(100%); }
      #wrap .swiper-wrapper .about .inner .desc {
        width: 40%;
        height: 100%;
        padding: 20px 30px 20px 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-between; }
        #wrap .swiper-wrapper .about .inner .desc .txt h1 {
          padding: 5px 0;
          font: 700 3vw/1 'Cinzel';
          margin-bottom: 60px;
          text-align: right; }
        #wrap .swiper-wrapper .about .inner .desc .txt p {
          padding: 5px 0;
          font: 400 15px/1.6 'Noto Serif KR'; }
        #wrap .swiper-wrapper .about .inner .desc .notion span {
          display: block;
          padding: 5px 0;
          font: 400 12px/1.3 'Noto Serif KR'; }
        #wrap .swiper-wrapper .about .inner .desc .notion .goNotion {
          display: inline-block;
          padding: 5px 2px;
          margin-bottom: 10px;
          font: 700 14px/1 'Cinzel';
          border-top: 2px solid #101820;
          border-bottom: 2px solid #101820;
          color: #101820; }
          #wrap .swiper-wrapper .about .inner .desc .notion .goNotion i {
            margin-right: 10px; }
    #wrap .swiper-wrapper .web .inner {
      display: flex;
      justify-content: space-between;
      background: transparent; }
      #wrap .swiper-wrapper .web .inner .part1 {
        width: 32%;
        padding: 10px 20px;
        height: 100%;
        background: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between; }
        #wrap .swiper-wrapper .web .inner .part1 .txt {
          width: 100%; }
          #wrap .swiper-wrapper .web .inner .part1 .txt strong {
            height: 100px;
            font: 700 20px/1 'Noto Serif KR';
            display: block; }
          #wrap .swiper-wrapper .web .inner .part1 .txt h1 {
            padding: 5px 0;
            font: 700 20px/1 'Noto Serif KR';
            margin-bottom: 5px; }
          #wrap .swiper-wrapper .web .inner .part1 .txt a {
            display: inline-block;
            padding: 5px 2px;
            margin-bottom: 10px;
            font: 700 14px/1 'Cinzel';
            border-top: 2px solid #101820;
            border-bottom: 2px solid #101820;
            color: #101820; }
            #wrap .swiper-wrapper .web .inner .part1 .txt a i {
              margin-right: 10px; }
          #wrap .swiper-wrapper .web .inner .part1 .txt ul {
            margin-bottom: 20px; }
          #wrap .swiper-wrapper .web .inner .part1 .txt ul li {
            padding: 2px 0;
            font: 400 14px/1.6 'Noto Serif KR'; }
          #wrap .swiper-wrapper .web .inner .part1 .txt ul li i {
            margin-right: 10px; }
          #wrap .swiper-wrapper .web .inner .part1 .txt h2, #wrap .swiper-wrapper .web .inner .part1 .txt h3 {
            font: 700 16px/1 'Noto Serif KR';
            margin-bottom: 5px; }
          #wrap .swiper-wrapper .web .inner .part1 .txt p {
            font: 400 14px/1.6 'Noto Serif KR';
            margin-bottom: 10px; }
          #wrap .swiper-wrapper .web .inner .part1 .txt .wrap {
            display: flex;
            justify-content: flex-start;
            margin-bottom: 20px; }
            #wrap .swiper-wrapper .web .inner .part1 .txt .wrap .palette {
              display: flex;
              justify-content: space-between;
              align-items: center; }
              #wrap .swiper-wrapper .web .inner .part1 .txt .wrap .palette span {
                padding: 5px;
                font: 400 14px/1 'Noto Serif KR';
                margin-right: 10px; }
              #wrap .swiper-wrapper .web .inner .part1 .txt .wrap .palette strong {
                display: inline-block;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                text-indent: -99999px;
                padding: 5px;
                margin-top: 5px; }
                #wrap .swiper-wrapper .web .inner .part1 .txt .wrap .palette strong.bg1 {
                  background: #333; }
                #wrap .swiper-wrapper .web .inner .part1 .txt .wrap .palette strong.bg2 {
                  background: #ddd; }
                #wrap .swiper-wrapper .web .inner .part1 .txt .wrap .palette strong.bg3 {
                  background: #101820; }
                #wrap .swiper-wrapper .web .inner .part1 .txt .wrap .palette strong.bg4 {
                  background: #AA7F3D; }
        #wrap .swiper-wrapper .web .inner .part1 .pic {
          width: 100%;
          height: auto;
          overflow: auto; }
          #wrap .swiper-wrapper .web .inner .part1 .pic img {
            width: 100%;
            object-fit: cover; }
      #wrap .swiper-wrapper .web .inner .part2 {
        width: 32%;
        padding: 10px 20px;
        height: 100%;
        background: #fafafa; }
        #wrap .swiper-wrapper .web .inner .part2 h1 {
          height: 100px;
          font: 700 36px/1 'Cinzel';
          text-align: center; }
          #wrap .swiper-wrapper .web .inner .part2 h1.title {
            font-size: 30px; }
        #wrap .swiper-wrapper .web .inner .part2 p {
          font: 400 14px/1.6 'Noto Serif KR';
          margin-bottom: 10px; }
        #wrap .swiper-wrapper .web .inner .part2 ul {
          margin-bottom: 30px; }
          #wrap .swiper-wrapper .web .inner .part2 ul li {
            padding: 2px 0;
            font: 400 14px/1.6 'Noto Serif KR'; }
            #wrap .swiper-wrapper .web .inner .part2 ul li i {
              margin-right: 10px; }
        #wrap .swiper-wrapper .web .inner .part2 h2, #wrap .swiper-wrapper .web .inner .part2 h3, #wrap .swiper-wrapper .web .inner .part2 h4 {
          font: 700 16px/1 'Noto Serif KR';
          margin-bottom: 5px; }
        #wrap .swiper-wrapper .web .inner .part2 .wrap {
          display: flex;
          justify-content: flex-start;
          margin-bottom: 20px; }
          #wrap .swiper-wrapper .web .inner .part2 .wrap .palette {
            display: flex;
            justify-content: space-between;
            align-items: center; }
            #wrap .swiper-wrapper .web .inner .part2 .wrap .palette span {
              padding: 5px;
              font: 400 14px/1 'Noto Serif KR';
              margin-right: 10px; }
            #wrap .swiper-wrapper .web .inner .part2 .wrap .palette strong {
              display: inline-block;
              width: 15px;
              height: 15px;
              border-radius: 50%;
              text-indent: -99999px;
              padding: 5px;
              margin-top: 5px; }
              #wrap .swiper-wrapper .web .inner .part2 .wrap .palette strong.pf_bg1 {
                background: #e6e2dd; }
              #wrap .swiper-wrapper .web .inner .part2 .wrap .palette strong.pf_bg2 {
                background: #303030; }
              #wrap .swiper-wrapper .web .inner .part2 .wrap .palette strong.pf_bg3 {
                background: #C1554E; }
              #wrap .swiper-wrapper .web .inner .part2 .wrap .palette strong.pf_bg4 {
                background: #D1AC8F; }
              #wrap .swiper-wrapper .web .inner .part2 .wrap .palette strong.pf_bg5 {
                background: #101820; }
              #wrap .swiper-wrapper .web .inner .part2 .wrap .palette strong.pf_bg6 {
                background: #821002; }
        #wrap .swiper-wrapper .web .inner .part2 .guide {
          display: inline-block;
          padding: 5px 2px;
          margin-bottom: 10px;
          font: 700 14px/1 'Cinzel';
          border-top: 2px solid #101820;
          border-bottom: 2px solid #101820;
          color: #101820; }
          #wrap .swiper-wrapper .web .inner .part2 .guide i {
            margin-right: 10px; }
  #wrap .swiper-button-next {
    top: auto;
    bottom: 5vh;
    right: 10vw;
    transform: scale(0.5);
    filter: brightness(0%);
    opacity: 0.7; }
  #wrap .swiper-button-prev {
    top: auto;
    bottom: 5vh;
    left: auto;
    right: calc(10vw + 50px);
    transform: scale(0.5);
    filter: brightness(0%);
    opacity: 0.7; }
  #wrap .swiper-pagination {
    position: absolute;
    left: auto;
    width: 60vw;
    right: 0;
    top: 3vh; }
    #wrap .swiper-pagination span {
      color: #F2AA4C;
      width: auto;
      height: auto;
      background: transparent;
      border-radius: 0px;
      padding: 20px 0;
      margin-left: 60px;
      opacity: 0.7;
      font-family: 'Cinzel';
      font-size: 18px; }
      #wrap .swiper-pagination span.swiper-pagination-bullet-active {
        opacity: 1;
        font-weight: bold; }

@keyframes dash {
  from {
    stroke-dashoffset: 1000; }
  to {
    stroke-dashoffset: 0; } }
@keyframes DrawLine {
  to {
    stroke-dashoffset: 0; } }
@keyframes FadeStroke {
  to {
    stroke-opacity: 0; } }
@keyframes FillIn {
  from {
    fill-opacity: 0; }
  to {
    fill-opacity: 1; } }

/*# sourceMappingURL=style.css.map */
